
<nav class="blue darken-1">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">실시간 건물 상황</a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card-panel white center">
        <span class="center-align">1 층</span>
      </div>
    </div>
    <div class="col s12">
      <div class="card-panel white center">
        <span class="center-align">2 층</span>
      </div>
    </div>
    <div class="col s12">
      <div class="card-panel white center">
        <a href="/home/show">
        <span class="center-align">3 층</span>
        </a>
      </div>
    </div>
    <div class="col s12">
      <div class="card-panel white center">
        <span class="center-align">4 층</span>
      </div>
    </div>
    <div class="col s12">
      <div class="card-panel white center">
        <span class="center-align">5 층</span>
      </div>
    </div>
  </div>

</div>
