<nav class="blue darken-1">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">3층 상황</a>
  </div>
</nav>

<div class="container">
  <%= image_tag("3-floor.png", style:"height: calc(100vh - 64px)") %>
  <a class="btn-floating btn-large waves-effect waves-light red" style="position: fixed; top: 30vh; right: 30vw"></a>
  <a class="btn-floating btn-large waves-effect waves-light blue" style="position: fixed; top: 15vh; left: 30vw; width: <%= @toilet %>px; height: <%= @toilet %>px"></a>
</div>
