<nav class="blue darken-1">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">3층 상황</a>
  </div>
</nav>

<div class="container">
  <%= image_tag("3-floor.png", style:"height: calc(100vh - 64px)", class:"responsive-img") %>
  <a class="btn-floating btn-large waves-effect waves-light red" style="position: absolute; top: 30vh; right: 40vw;  width: 5vh; height: 5vh"></a>
  <% if @toilet < 20 %>
  <% @color = "green" %>
  <% end %>
  <% if @toilet >= 20 %>
  <% @color = "red" %>
  <% end %>
  <a class="btn-floating btn-large waves-effect waves-light <%= @color %>" style="position: absolute; top: 15vh; left: 30vw; width: <%= @toilet %>vh; height: <%= @toilet %>vh"></a>
</div>
